/* Переменные для основных цветов */
$light-blue: #436372;
$dark-blue: #243f4d;
$dark-brown: #414141;
$light-brown: #585858;
$sky-blue: #a3bbc8;
$soft-orange: #fef7f0;
$orange:#fcd7b6;
$gray: #7b7b7b;
$blue: #78a9f8;
$turquoise: #a3bbc8;

/* Переменные для шрифтов */
%rubikmedium-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubikregular-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubikbold-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}


%dmsansregular-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsansmedium-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsansbold-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}


%poppinsregular-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%poppinsmedium-500 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

%poppinsbold-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

