@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
/*
@import 'components/animations.scss';

@import 'components/header';
@import 'components/menu';
@import 'components/slider-main';
@import 'components/footer';

*/

.header {
  height: 70px;
  background-color: #b41414;
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__personals {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    @extend %roboto-400;
    font-size: 12px; 
    color: white;
    background-image: url(../images/cart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__search {
    width: 15px;
    height: 15px;
    background-image: url(../images/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header-menu {
  margin-right: 20px;

  &__items {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  &__item + li{
    margin-left: 28px;
  }

  &__link{
    @extend %roboto-400;
    font-size: 12px; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.slider-main {

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__slick-next,
  &__slick-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 4;
  }

  &__slick-prev {
    left: 50px;
  }

  &__slick-next {
    right: 50px;
  }
}

.upcoming-event {
  background-color: black;
  padding:30px 0 ;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  &__title-icon {
    font-size: 22px;
  }

  &__title {
    width: 240px;
    color:white;
  }

  &__event {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 7px;
    @extend %roboto-900;
  }

  &__date {
    font-size: 12px;
    font-family: 'Georgia';
    font-style: italic;
  }

  &__name {
    display: block;
    font-size: 20px;
    font-family: 'Georgia';
    padding-top: 15px;
  }

  &__timer {
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__days {
    width: 85px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
  }

  &__timer-title {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9c00;
    @extend %roboto-400;
    text-transform: uppercase;
    color: white;
    border-radius: 3px 3px 0 0;
  }

  &__timer-digit {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 36px;
    @extend %roboto-500;
    text-transform: uppercase;
    color: #ff9c00;
    border-radius: 0 0 3px 3px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  &__links span{
    margin-left: 15px;
  }

  &__all-events {
    color: white;
  }
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.section-title {
  text-align: center;
  margin-bottom: 55px;

  &__icon {
    margin-bottom: 12px;
    font-size: 28px;
    color: black;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 22px;
    color: black;
    position: relative;
    @extend %roboto-400;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 39%;
      height: 55px;
      background-repeat: no-repeat;
      top: -7px;
      background-size: cover;
      overflow: hidden;
    }

    &::before {
      left: 0px;
      background-position: right;
      background-image: url(../images/flover-left-darker.png);
    }

    &::after {
      right: 0px;
      background-position: left;
      background-image: url(../images/flover-right-darker.png);
    }
  }

  &__description {
    display: block;
    @extend %opensans-400;
    font-size: 14px;
    color: black;
    margin-top: 20px;
  }
}

.recent-news {
  padding: 60px 0;

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      border-top: 1px solid #939393;
      border-bottom: 1px solid #939393;
    }
  }

  &__item {
    width: 290px;
    padding-bottom: 60px;
    position: relative;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__item:hover &__hidden {
    background-color: rgba(0, 0, 0, 0.55);
  }
  
  &__item:hover &__circle {
    display: flex;
  }

  &__hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    height: 199px;
    top: 0;
    left: 0;
    right: 0;
  }

  &__circle {
    width: 52px;
    height: 52px;
    background-color: #af2a2a;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__plus {
    font-size: 30px;
    color: white;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    width: 60px;
    text-align: center;
    color: #939393;
    margin-bottom: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 3px;
      border-top: 1px solid #939393;
      border-bottom: 1px solid #939393;
    }
  }

  &__day {
    display: block;
    font-family: Georgia;
    font-weight: 400;
    font-size: 22px;
  }

  &__month {
    @extend %roboto-400;
    text-transform: uppercase;
  }

  &__name {
    width: 230px;
    padding-left: 20px;
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1.4;
    color: #c71919;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    display: block;
    width: 60px;
    text-align: center;
    position: relative;
    padding-top: 12px;
    color: white;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/dialog.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 4px;
      left: 14px;
      width: 32px;
      height: 35px;
      z-index: -1;
    }
  }

  &__text {
    width: 230px;
    padding-left: 20px;
    @extend %opensans-400;
    font-size: 14px;
    line-height: 1.4;
    color: #939393;
  }

  &__share {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__share-text {
    margin-left: 10px;
    @extend %opensans-400;
    font-size: 11px;
  }
}

.upcoming {
  background-image: url(../images/events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;

  &__title {
    &::after,
    &::before {
      content: '';
      width: 36%;
    }

    &::before {
      background-image: url(../images/flover-left-darker.png);
    }

    &::after {
      background-image: url(../images/flover-right-darker.png);
    }
  }

  &__items {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 212px;
    padding: 20px 25px 37px;
    color: white;
    text-align: center;
  }

  &__item:hover {
    background-color: rgba(0, 0, 0, 0.45);
  }

  &__item:hover &__button {
    background-color: #9a0c0c;
    border: none;
  }

  &__date {
    height: 70px;
    background-image: url(../images/calendar.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__day {
    @extend %roboto-500;
    font-size: 28px;
    color: white;
    display: block;
    margin-bottom: 20px;
  }

  &__month {
    @extend %roboto-400;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
  }

  &__item-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 55px;
      height: 10px;
      bottom: -20px;
      left: 37%;
      background-image: url("../images/ornament.png");
    }
  }

  &__time {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
  }

  &__place {
    font-size: 12px;
    margin-bottom: 25px;
    display: block;
  }

  &__button {
    width: 130px;
    height: 50px;
    margin: 0 auto;
    @extend %roboto-500;
    font-size: 16px;
  }

  &__button span{
    margin-top: 2px;
    margin-left: 5px;
  }

  &__view {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 14px;

    &:before,
    &:after {
      width: 42%;
      content: '';
      position: absolute;
      top: 50%;
      border-top: 1px solid white;
      overflow: hidden;
    }

    &::before {
      left: 0px;
    }

    &::after {
      right: 0;
    }

  }
}

.volunteers {
  padding: 60px 0;

  &__items {
    padding-bottom: 100px;
  }

  &__item {
    width: 250px;
    text-align: center;
    position: relative;
    padding: 0 33px;
  }

  &__face {
    margin-bottom: 20px;
  }

  &__name {
    @extend %opensans-400;
    font-size: 18px;
    color: #c71919;
    display: block;
  }

  &__status {
    @extend %opensans-400;
    font-size: 14px;
    color: #828282;
    display: block;
    margin-bottom: 20px;
  }

  &__item:hover &__hidden {
    background-color: rgba(0, 0, 0, 0.55);
    border: 3px solid #af2a2a;
  }
  
  &__item:hover &__circle {
    display: flex;
  }

  &__hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    height: 250px;
    top: 0;
    left: 33px;
    right: 0;
  }

  &__circle {
    width: 52px;
    height: 52px;
    background-color: #af2a2a;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__plus {
    font-size: 30px;
    color: white;
  }

  &__slick-next,
  &__slick-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    border: 2px solid #dadada;
    border-radius: 50%;
    z-index: 4;
    transform: translateX(100%);
    background-size: 30%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 10px center ;

    &:before {
      width: 420px;
      content: '';
      position: absolute;
      top: 50%;
      border-top: 2px solid #dadada;
      overflow: hidden;
    }

  }

  &__slick-prev {
    background-image: url(../images/icons/volunteer-left.svg);
    left: 50%;
    background-position: 15px center;
    transform: translateX(-120%);

    &::before {
      right: 47px;
    }

    &:hover {
      background-image: url(../images/icons/volunteer-left-hover.svg);
    
    }
  }

  &__slick-next {
    background-image: url(../images/icons/volunteer-right.svg);
    right: 50%;
    background-position: 18px center;
    transform: translateX(120%);
    
    &::before {
      left: 47px;
    }

    &:hover {
      background-image: url(../images/icons/volunteer-right-hover.svg);
    
    }
  }
}

.contact-links {
  display: flex;
  justify-content: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 13px;
    background-color: #b9babb;
    font-size: 17px;
    color: white;

    &:hover {
      background-color: #9a0c0c;
    }
  }
  
}

.what-news {
  padding: 60px 0;
  background-color: #c1c1c1;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 400px;
  }

  &__content {
    width: 529px;
    padding: 40px 50px 50px;
    background-color: white;
  }

  &__title {
    font-size: 30px;
    color: #444249;
    margin-bottom: 15px;
  }

  &__text {
    @extend %opensans-400;
    font-size: 14px;
    color: #858585;
    margin-bottom: 35px;
  }

  &__button {
    width: 130px;
    height: 50px;
    margin: 0;
    @extend %roboto-500;
    font-size: 16px;
    background-color: #9a0c0c;
    border-radius: 6px;
  }

  &__button span{
    margin-top: 2px;
    margin-left: 5px;
  }

}

.slick-dots {
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  left: 160px;
  z-index: 6;

  li {
    margin-left: 10px;
  }

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    font-size: 0;
    cursor: pointer;
  }
    .slick-active button {
      background-color: #9a0c0c;
    } 
}

.about {
  padding: 60px 0;
  background-color: white;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    width: 640px;
    padding-right: 30px;
  }

  &__title {
    font-size: 28px;
    color: #444249;
    margin-bottom: 15px;
  }

  &__text {
    @extend %opensans-400;
    font-size: 14px;
    color: #858585;
    margin-bottom: 25px;
    line-height: 1.8;
  }

  &__join {
    width: 290px;
    background-color: #c71919;
    color: white;
    padding: 60px 10px 50px;
    text-align: center;
  }

  &__heart {
    font-size: 110px;
    margin-bottom: 50px;
  }

  &__join-title {
    display: block;
    color: white;
    @extend %roboto-500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }

  &__button {
    width: 130px;
    height: 50px;
    margin: 0 auto;
    @extend %roboto-500;
    font-size: 16px;
  }

  &__button span{
    margin-top: 2px;
    margin-left: 5px;
    text-transform: uppercase;
  }

}

.blockquote {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-right: 50px;

  &__face {
    width: 160px;
    height: 100px;
    margin-left: 30px;
    border-radius: 50%;
    position: relative;

    &::after {
      position: absolute;
      top: -5px;
      left: -29px;
      content: url(../images/icons/lavro.svg);
    }
  }

  &__cite {
    display: block;
    font-family: Georgia;
    font-style: italic;
    padding-left: 70px;
    font-size: 24px;
    line-height: 1.4;
    color: #fb4141;
    
  }

  &__author {
    display: block;
    @extend %opensans-400;
    font-size: 14px;
    color: #858585;
    margin-top: 10px;
  }

}

.donations {
  padding: 60px 0;
  background-color: #c1c1c1;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 290px;
  }

  &__top {
    background-color: white;
    padding: 20px 10px;
  }

  &__img {
    padding: 10px;
    width: 230px;
    border: 2px solid #a71818;;
    border-radius: 50px;
    margin: 0 auto 15px;
  }

  &__image {
    border-radius: 40px;
  }

  &__title {
    @extend %roboto-700;
    font-size: 18px;
    color: black;
    text-align: center;
    text-transform: unset;
  }

  &__text {
    @extend %opensans-400;
    font-size: 14px;
    color: #858585;
    margin-top: 10px;
    line-height: 1.5;
  }

  &__bottom {
    background-color: #a71818;
    padding: 20px 10px;
  }

  &__numbers {
     display: flex;
     justify-content: space-around;
  }

  &__numbers-item {
    width: 60px;
    text-align: center;
  }

  &__numbers-icon {
    color: #ffde00;
    margin-bottom: 5px;
  }

  &__count {
    display: block;
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    text-transform: uppercase;
  }

  &__raised {
    display: block;
    color: #ffde00;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    @extend %roboto-500;
    font-size: 16px;
  }

  &__button span{
    margin-top: 2px;
    margin-left: 5px;
    text-transform: uppercase;
  }

}

.scale {
  width: 260px;
  height: 30px;
  margin: 0 auto 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 7px;

  &__outer {
    width: 100%;
    height: 15px;
    overflow: hidden;
    border-radius: 4px 2px 0px 4px;
  }

  &__inner {
    height: 15px;
    margin-left: -20px;
    background-image: url(../images/icons/scale.jpg);
    background-repeat: repeat;
  }

}

.updates {
  position: relative;
  background-color: #252a30;
  overflow: hidden;

  &__body {
    width: 290px;
    padding: 60px 0
  }

  &__content {
    position: relative;
    width: 100%;
    height: 266px;
  }

  &__title {
    @extend %roboto-500;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    padding-right: 30px;
  }

  &__slider {
    width: 1000px;
    height: 270px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 500px;
  }

  &__slider-item {
    margin: 0;
    width: 100%;
  }
  
  &__hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 320px;
    height: 266px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &__chain {
    width: 52px;
    height: 52px;
    background-color: #af2a2a;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  &__slider-item:hover &__hidden {
    background-color: rgba(0, 0, 0, 0.55);
  }
  
  &__slider-item:hover &__chain {
    display: flex;
  }

  &__button {
    width: 180px;
    height: 55px;
    @extend %roboto-500;
    font-size: 16px;
    color: white;
    background-color: #c71919;
    border: none;
  }

  &__button span{
    margin-top: 2px;
    margin-left: 5px;
  }

  &__icon {
    font-size: 30px;
    color: white;
  }

}

.testimonials {
  background-color: white;
  padding: 60px 0 110px;

  &__slider-item {
    width: 100%;
    padding: 0 50px;
  }

  &__cite {
    font-size: 18px;
    color: #858585;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 100px;

    span {
      color: #c71919;
    }
  }

  &__author {
    @extend %opensans-400;
    font-size: 14px;
    margin-top: 130px;
  }

  &__blockquote {
    position: relative;
    margin: 0;
    padding: 0;
  }

  &__face {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: '';
    }
  }

.slick-dots {
  bottom: -35px;
  left: 50%;
  transform: translateX(-60%);

  li {
    margin-left: 10px;
  }

  button {
    background-color: #858585;
  }
    .slick-active button {
      background-color: #9a0c0c;
    } 
}

}

.hunger {
  background-color: #9a0c0c;
  height: 110px;
 

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &__text {
    @extend %opensans-400;
    font-size: 22px;
    color: white;
    display: block;
  }

  &__button {
    width: 130px;
    height: 40px;
    text-align: center;
    color: #9a0c0c;
    background-color: white;
    text-transform: uppercase;
    @extend %roboto-500;
    font-size: 25px;

    span {
      font-size: 16px;
      margin-left: 3px;
      margin-top: 3px;
    }
  }
}

.footer {
  padding: 55px 0;
  background-color: #333537;

  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    width: 210px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 25px;
    color: white;
    margin-bottom: 35px;
  }
  
  &__post {
    @extend %opensans-400;
    font-size: 13px;
    color: white;
    margin-bottom: 20px;
  }

  &__post-text {
    margin-bottom: 10px;
    line-height: 1.7;
  }

  &__post-date {
    color: rgb(137, 137, 137);
  }

  &__list-item {
    margin-bottom: 10px;

  }

  &__icon {
    font-size: 11px;
  }

  &__link {
    @extend %opensans-400;
    font-style: normal;
    font-size: 13px;
    color: rgb(137, 137, 137);
    margin-bottom: 10px;

    &:hover {
      color: white;
    }
  }

  &__text {
    @extend %opensans-400;
    font-style: normal;
    font-size: 13px;
    color: rgb(137, 137, 137);
    margin-bottom: 20px;
    line-height: 1.7;
  }

  &__form-input {
    width: 210px;
    height: 40px;
    background-color: black;
    color: rgb(137, 137, 137);
    margin-bottom: 20px;
    border: none;
    padding: 0 15px;
  }

  
  &__submit {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    background-color: #9a0c0c;
    color: white;
    border: none;
  }
}

.address {
  @extend %opensans-400;
  font-style: normal;
  font-size: 13px;
  color: rgb(137, 137, 137);

  &__street,
  &__link {
    @extend %opensans-400;
    font-style: normal;
    font-size: 13px;
    color: rgb(137, 137, 137);
  }

  &__street {
    margin-bottom: 30px;
    display: inline-block;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__phone:last-child &__link {
    color: white;
  }
}
