@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/*
@import 'components/animations.scss';

@import 'components/menu';
@import 'components/slider-main';
@import 'components/footer';
*/

@import '../modules/_header/header';

@import '../modules/_slider-main/slider-main';
@import '../modules/_slider-main/upcoming-event';

@import '../modules/_recent-news/recent-news';

@import '../modules/_upcoming/upcoming';

@import '../modules/_volunteers/volunteers';

@import '../modules/_what-news/what-news';

@import '../modules/_about/about';
@import '../modules/_about/blockquote';

@import '../modules/_donations/donations';
@import '../modules/_donations/scale';

@import '../modules/_updates/updates';

@import '../modules/_testimonials/testimonials';

@import '../modules/_hunger/hunger';

@import '../modules/_footer/footer';


.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.section-title {
  text-align: center;
  margin-bottom: 55px;

  &__icon {
    margin-bottom: 12px;
    font-size: 28px;
    color: black;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 22px;
    color: black;
    position: relative;
    @extend %roboto-400;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 39%;
      height: 55px;
      background-repeat: no-repeat;
      top: -7px;
      background-size: cover;
      overflow: hidden;
    }

    &::before {
      left: 0px;
      background-position: right;
      background-image: url(../images/flover-left-darker.png);
    }

    &::after {
      right: 0px;
      background-position: left;
      background-image: url(../images/flover-right-darker.png);
    }
  }

  &__description {
    display: block;
    @extend %opensans-400;
    font-size: 14px;
    color: black;
    margin-top: 20px;
  }
}

.contact-links {
  display: flex;
  justify-content: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 13px;
    background-color: #b9babb;
    font-size: 17px;
    color: white;

    &:hover {
      background-color: #9a0c0c;
    }
  }
  
}




