<div class="slider-main">

  <div class="slider-main__item" >
    <img class="slider-main__image" src="images/header-bg1.jpg" alt="slide-2">
    
  </div>

  <div class="slider-main__item">
    <img class="slider-main__image" src="images/header-bg2.jpg" alt="slide-2">

  </div>

  <div class="slider-main__item">
    <img class="slider-main__image" src="images/header-bg3.jpg" alt="slide-3">

  </div>

  <div class="slider-main__item">
    <img class="slider-main__image" src="images/header-bg4.jpg" alt="slide-3">

  </div>
</div>

<div class="upcoming-event">
  <div class="container">
    <div class="upcoming-event__content">
      <div class="upcoming-event__title">
        <i class="fa fa-calendar-o upcoming-event__title-icon" aria-hidden="true"></i>
        <span class="upcoming-event__event">Ближайшее</span>
        <span class="upcoming-event__date">&mdash; 20 Июня, 2021</span>
        <span class="upcoming-event__name">Турнир среди девочек "Энергия поколений - 4"</span>
      </div>

      <div class="upcoming-event__timer">
        <div class="upcoming-event__days">
          <div class="upcoming-event__timer-title">Дней</div>
          <div id="days" class="upcoming-event__timer-digit">14</div>
        </div>

        <div class="upcoming-event__days">
          <div class="upcoming-event__timer-title">Часов</div>
          <div id="hours" class="upcoming-event__timer-digit">24</div>
        </div>

        <div class="upcoming-event__days">
          <div class="upcoming-event__timer-title">Минут</div>
          <div id="minutes" class="upcoming-event__timer-digit">36</div>
        </div>

        <div class="upcoming-event__days">
          <div class="upcoming-event__timer-title">Секунд</div>
          <div id="seconds" class="upcoming-event__timer-digit">18</div>
        </div>
      </div>

      <div class="upcoming-event__links">
        <button class="upcoming-event__read-more read-more">читать далее</button>
        <span > или 
                <a class="upcoming-event__all-events" href="#" >смотреть все ></a>
        </span>
      </div>
    </div>
  </div>
</div>