<section class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__body">
        <h4 class="about__title">About Us</h4>

        <p class="about__text">
              Аrshmallow jelly-o candy canes biscuit. Liquorice gummi bears tart ice cream marshmallow applicake. Gummi bears pastry I love chocolate bar. Cheese cake bonbon bear claw marshmallow. Gummi bears pastry I love chocolate bar.
            </p>

        <p class="about__text">
              Cheese cake bonbon bear claw marshmallow. Gummi bears pastry I love chocolate bar. 
            </p>

        <div class="blockquote">
          <div class="blockquote__face">
            <img src="images/richard.png" alt="face" class="blockquote__img">
          </div>

          <blockquote class="blockquote__cite">
                Blessed are the peacemakers, for they shall be called sons of God.
                <cite class="blockquote__author">— Richard Arkenstone</cite>
          </blockquote>
        </div>
      </div>

      <div class="about__join">
        <i class="fa fa-heart-o about__heart" aria-hidden="true"></i>
        <span class="about__join-title">Wanna be a Volunteer?</span>
        <button class="read-more about__button">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span> Join Us</span>
        </button>
      </div>
    </div>

  </div>
</section>