<div class="updates">
  <div class="container">
    <div class="updates__body">
      <h4 class="updates__title">Updates From Our Gallery</h4>

      <button class="read-more updates__button">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <span> More Galleries</span>
      </button>
    </div>

    <div class="updates__slider">

      <div class="updates__slider-item">

        <div class="updates__content">
          <img src="images/updates-1.jpg" alt="">
          <div class="updates__hidden">
            <a class="updates__chain">
              <i class="fa fa-chain updates__icon" aria-hidden="true"></i>
            </a>
            <a class="updates__chain">
              <i class="fa fa-plus updates__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>

      <div class="updates__slider-item">

        <div class="updates__content">
          <img src="images/updates-2.jpg" alt="">
          <div class="updates__hidden">
            <a class="updates__chain">
              <i class="fa fa-chain updates__icon" aria-hidden="true"></i>
            </a>
            <a class="updates__chain">
              <i class="fa fa-plus updates__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="updates__slider-item">

        <div class="updates__content">
          <img src="images/updates-3.jpg" alt="">
          <div class="updates__hidden">
            <a class="updates__chain">
              <i class="fa fa-chain updates__icon" aria-hidden="true"></i>
            </a>
            <a class="updates__chain">
              <i class="fa fa-plus updates__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="updates__slider-item">

        <div class="updates__content">
          <img src="images/updates-4.jpg" alt="">
          <div class="updates__hidden">
            <a class="updates__chain">
              <i class="fa fa-chain updates__icon" aria-hidden="true"></i>
            </a>
            <a class="updates__chain">
              <i class="fa fa-plus updates__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="updates__slider-item">

        <div class="updates__content">
          <img src="images/updates-5.jpg" alt="">
          <div class="updates__hidden">
            <a class="updates__chain">
              <i class="fa fa-chain updates__icon" aria-hidden="true"></i>
            </a>
            <a class="updates__chain">
              <i class="fa fa-plus updates__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>