<section class="donations">
  <div class="container">

    <div class="section-title">
      <i class="fa fa-money section-title__icon" aria-hidden="true"></i>

      <h2 class="section-title__title">
              Our Volunteers
              <span class="section-title__description">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
      </h2>
    </div>

    <div class="donations__items">

      <div class="donations__item">
        <div class="donations__top">
          <div class="donations__img">
            <img src="images/donations-1.jpg" alt="" class="donations__image">

          </div>

          <h4 class="donations__title">
                  Love the Lord Your God with All Your Heart
                </h4>

          <p class="donations__text">
                  The New Hope Ministry is a dedicated outreach to men, women and families in homeless shelters by meeting their. 
                </p>
        </div>

        <div class="donations__bottom">

          <div class="scale">
            <div class="scale__outer">
              <div class="scale__inner" style="width: calc(260px / 100 * 75)"></div>
            </div>

          </div>

          <div class="donations__numbers">

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$9600</span>
              <span class="donations__raised">raised</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">122</span>
              <span class="donations__raised">donors</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$17780</span>
              <span class="donations__raised">goal</span>
            </div>

          </div>

          <button class="read-more donations__button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span> Donate Now</span>
          </button>
        </div>
      </div>

      <div class="donations__item">
        <div class="donations__top">
          <div class="donations__img">
            <img src="images/donations-1.jpg" alt="" class="donations__image">

          </div>

          <h4 class="donations__title">
                  Love the Lord Your God with All Your Heart
                </h4>

          <p class="donations__text">
                  The New Hope Ministry is a dedicated outreach to men, women and families in homeless shelters by meeting their. 
                </p>
        </div>

        <div class="donations__bottom">

          <div class="scale">
            <div class="scale__outer">
              <div class="scale__inner" style="width: calc(260px / 100 * 95)"></div>
            </div>

          </div>

          <div class="donations__numbers">

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$9600</span>
              <span class="donations__raised">raised</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">122</span>
              <span class="donations__raised">donors</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$17780</span>
              <span class="donations__raised">goal</span>
            </div>

          </div>

          <button class="read-more donations__button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span> Donate Now</span>
          </button>
        </div>
      </div>

      <div class="donations__item">
        <div class="donations__top">
          <div class="donations__img">
            <img src="images/donations-1.jpg" alt="" class="donations__image">

          </div>

          <h4 class="donations__title">
                  Love the Lord Your God with All Your Heart
                </h4>

          <p class="donations__text">
                  The New Hope Ministry is a dedicated outreach to men, women and families in homeless shelters by meeting their. 
                </p>
        </div>

        <div class="donations__bottom">

          <div class="scale">
            <div class="scale__outer">
              <div class="scale__inner" style="width: calc(260px / 100 * 65)"></div>
            </div>

          </div>

          <div class="donations__numbers">

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$9600</span>
              <span class="donations__raised">raised</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">122</span>
              <span class="donations__raised">donors</span>
            </div>

            <div class="donations__numbers-item">
              <i class="fa fa-thumbs-up donations__numbers-icon" aria-hidden="true"></i>
              <span class="donations__count">$17780</span>
              <span class="donations__raised">goal</span>
            </div>

          </div>

          <button class="read-more donations__button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span> Donate Now</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>