<header class="header">
  <div class="container">
    <div class="header__top">
      <img src="images/logo.png" alt="Honor logo">

      <nav class="header-menu">
        <button class="header-menu__menu-btn menu">
          <img src="../../images/menu_img.png" alt="menu button" class="header-menu__img">
        </button> 
        <ul class="header-menu__items">
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Home</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Donations</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Gallery</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Sermons</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Events</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Pages</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Shop</a>
          </li>
        </ul>
      </nav>

      <div class="header__personals">
        <a class="header__cart">
          <span class="header__count">
                0
              </span>
        </a>
        <a class="header__search"></a>
      </div>
    </div>
  </div>
</header>